@charset "utf-8";
/* CSS Document */

*{
	scroll-behavior:smooth;
}


.jumbotron{
	padding-top:6rem;
	background-color:gainsboro;
}
section{
	padding-top:5rem;
}
.gallery-img{
	width:100%;
}
#gallery .row > *{
	padding:0;
}
footer{
    background-color: #273036;
}
nav{
    background-color: #273036;
}
